body, html {
                        height: 100%;
                        margin: 0;
                    }

              .bg {
                /* The image used */
                    background-image: url("/static/img/alin-rusu-4dvdBcu9Yts-unsplash.jpg");

                    /* Full height */
                    height: 100%;

                    /* Center and scale the image nicely */
                    background-position: center;
                    background-repeat: no-repeat;
                    background-size: cover;
                    margin-top: -2.5em;
              }
            body{
                background: none;
            }